@tailwind base;
@tailwind components;
@tailwind utilities;

$themeColor: #212529;
$themeColor2: #ffdd00;
$siteRadius: 20px;
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap");

$customColor1 : #fffacd;
$customColor2 : #54CBCA;
$customColor3 : #83ea6c;
$customColor4 : #ffcf00;
$customColor5 : #C5C5FE;
$customColor6 : #85b2f4;
$customColor7 : #ffaeab;

/* normalize css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}
body {
    margin: 0;
    font-family: "Sono";
    color: $themeColor;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    list-style: none;
}
main {
    display: block;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bold;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    display: block;
    max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
}

/* normalize ended */

/* custom css */

.App {
    padding: 30px;
    position: relative;
    z-index: 2;
    .sectionTitle {
        font-size: 8rem;
        display: block;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.1px;
        color: #ffffff;
        text-shadow: 3px -3px 0 $themeColor, -3px -3px 0 $themeColor, 3px 3px 0 $themeColor, 0 4px 0 $themeColor,
            0 -4px 0 $themeColor, 4px 0 0 $themeColor, -8px 7px 0 $themeColor;
    }
    .sectionTitleSm {
        font-size: 2rem;
        display: block;
        line-height: 1;
        text-align: center;
    }
    .sectionTitleXs {
        font-size: 1.5rem;
        display: block;
        line-height: 1;
        margin-bottom: 10px;
    }
    #loader {
        position: fixed;
        inset: 0;
        z-index: 99;
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
            &:nth-child(1) {
                display: block;
                background: #e0e0e0;
                transition-delay: 0.2s;
                z-index: 5;
            }
            &:nth-child(2) {
                display: block;
                background: #ebebeb;
                transition-delay: 0.4s;
                z-index: 4;
            }
            &:nth-child(3) {
                display: block;
                background: #f5f5f5;
                transition-delay: 0.6s;
                z-index: 3;
            }
            &:nth-child(4) {
                display: block;
                background: #ffffff;
                transition-delay: 0.8s;
                z-index: 2;
            }
        }
    }
    &:is(.loaded) {
        #loader {
            user-select: none;
            pointer-events: none;
            span {
                width: 0;
            }
        }
    }
}
header {
    position: fixed;
    top: 30px;
    width: calc(100% - 60px);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 30px;
    z-index: 9;
    transition: all 0.3s ease;
    border-radius: $siteRadius;
    &:is(.active) {
        background-color: white;
        top: 10px;
        box-shadow: 0 0 20px 2px rgba(0, 8, 20, 0.1);
        padding: 20px 20px;
    }
    .logo {
        display: block;
        .logoText {
            font-weight: bold;
            font-size: 1.8em;
        }
    }
}
.changeLangBtn {
    color: $themeColor;
    font-size: 1rem;
    font-weight: 700;
}
.siteBtn {
    padding: 0 2.3rem;
    border: 2px solid $themeColor;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 3px 0 0 $themeColor;
    transition: 0.2s;
    color: $themeColor;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    &:is(.btnLg) {
        padding: 0 4rem;
        line-height: 60px;
        font-size: 1.4rem;
    }
    img {
        display: inline-block;
        vertical-align: middle;
    }
    &:is(.colored) {
        background-color: $themeColor2;
        color: $themeColor;
        &:is(:hover, :focus, :active) {
            background-color: white;
            color: $themeColor;
            border-color: $themeColor;
        }
    }
    &:is(:hover, :focus, :active) {
        box-shadow: none;
        transform: translate(0, 3px) !important;
        background-color: $themeColor2;
        color: $themeColor;
        border-color: $themeColor;
    }
}
#slider {
    height: calc(100vh - 60px);
    /* height: 200vh; */
    position: relative;
    .sliderInner {
        border-radius: $siteRadius;
        background-color: #fff;
        box-shadow: 0 0 20px 2px rgba(0, 8, 20, 0.1);
        padding: 20px;
        height: 100%;
        margin: 0;
        display: flex;
        align-content: baseline;
        .sliderCenter {
            height: 100%;
            &:is(.loaded) {
                .title {
                    .word {
                        .wordInner {
                            opacity: 1;
                            span {
                                animation: moveit 600ms ease forwards;
                            }
                        }

                        .siteBtn {
                            opacity: 1;
                            transform: translateY(0);
                            transition-delay: 0.9s;
                        }
                    }
                }
                .img {
                    opacity: 1;
                    transform: scale(1);
                    transition-delay: 1.2s;
                }
            }
            &:is(.loadedEnd) {
                .title {
                    .word {
                        .siteBtn {
                            transition-delay: 0s;
                        }
                    }
                }
                .img {
                    transition-delay: 0s;
                }
            }
            .title {
                margin: 0;
                font-size: 9rem;
                font-weight: 900;
                line-height: 1;
                color: white;
                text-align: center;
                text-shadow: 3px -3px 0 $themeColor, -3px -3px 0 $themeColor, 3px 3px 0 $themeColor, 0 4px 0 $themeColor,
                    0 -4px 0 $themeColor, 4px 0 0 $themeColor, -8px 7px 0 $themeColor;
                z-index: 2;
                position: relative;
                user-select: none;
                pointer-events: none;
                transform: translate3d(0px, 0px, 0px);
                .word {
                    display: block;
                    position: relative;
                    .wordInner {
                        display: inline-block;
                        opacity: 0;
                        span {
                            display: inline-block;
                            opacity: 0;
                            letter-spacing: -7px;
                        }
                    }
                    .siteBtn {
                        opacity: 0;
                        transform: translateY(10px);
                        user-select: initial;
                        pointer-events: initial;
                    }
                    &:nth-child(2) {
                        margin-left: -14.5rem;
                    }
                    &:nth-child(3) {
                        margin-left: 14.3rem;
                    }
                }
            }
            .img {
                height: 36rem;
                width: 50rem;
                position: absolute;
                left: calc(50% - 25rem);
                top: calc(50% - 18rem);
                transform: scale(0.9);
                z-index: 1;
                transition: all 0.5s ease;
                opacity: 0;
                > div {
                    border-radius: 50px;
                    position: relative;
                    overflow: hidden;
                }
                > div:before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-color: black;
                    opacity: 0.2;
                    z-index: 3;
                }
                video {
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                    object-position: center center;
                    height: 100%;
                    z-index: 2;
                }
            }
        }
        .bottomText {
            font-size: 1.4em;
            padding: 0;
            overflow: hidden;
            display: flex;
            width: 100%;
            position: relative;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 19vw;
                height: 100%;
                background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            }
            &:after {
                left: auto;
                right: 0;
                background: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            }
            .inner {
                display: flex;
                flex: 0 0 auto;
                width: auto;
                li {
                    display: flex;
                    align-items: center;
                    flex: 0 0 auto;
                    width: auto;
                    span {
                        display: inline-block;
                    }
                    img {
                        display: inline-block;
                        margin: 0px 10px 0px 0px;
                        width: 18px;
                        height: 18px;
                        vertical-align: middle;
                    }
                    & + li {
                        margin-left: 10px;
                    }
                }
                & + .inner {
                    margin-left: 20px;
                }
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveit {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    20% {
        transform: translateX(-80px);
        opacity: 1;
    }
    40% {
        transform: translateX(-50px);
        opacity: 1;
    }
    60% {
        transform: translateX(-62px);
        opacity: 1;
    }
    80% {
        transform: translateX(-60px);
        opacity: 1;
    }
    100% {
        transform: translateX(-60px);
        opacity: 1;
    }
}

#about {
    padding: 30vh 0;
    .myStatus {
        display: flex;
        border: 2px solid $themeColor;
        max-width: 400px;
        margin: 30px auto 0 auto;
        border-radius: 50px;
        justify-content: space-between;
        padding: 8px 20px;
        font-size: 1.3rem;
        align-items: center;
        position: relative;
        .imgHover {
            position: fixed;
            user-select: none;
            pointer-events: none;
            transform: translateY(-100%) translateX(20px) scale(0);
            transition: transform 0.3s ease;
        }
        &:hover {
            .imgHover {
                transform: translateY(-100%) translateX(20px) scale(1);
            }
        }
        .clock {
            .clockDot {
                animation: opacity 1s infinite linear;
            }
        }
        .status {
        }
    }
}

#skills {
    background-color: $themeColor2;
    padding: 100px 0;
    border-radius: $siteRadius;
    margin-bottom: 200px;
    position: relative;
    overflow: hidden;
    .item {
        padding: 2.8rem 0;
        display: flex;
        justify-content: flex-start;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            border-bottom: 1px solid black;
            left: 0;
            bottom: 0;
            width: 100vw;
        }
        .left {
            display: inline-grid;
            align-content: space-between;
            .number {
                font-size: 1rem;
                height: 36px;
                width: 50px;
                border: 1px solid black;
                border-radius: 50px;
                text-align: center;
                line-height: 36px;
                margin-right: 1.4rem;
            }
        }
        .right {
            min-width: 30%;
            .titleSm {
                display: block;
                font-size: 1.2rem;
                line-height: 1.1;
                font-weight: 500;
            }
            .title {
                display: block;
                font-size: 3.5rem;
                line-height: 1.1;
                font-weight: 700;
                letter-spacing: -0.04em;
            }
            .desc {
                display: block;
                margin: 0;
                font-size: 1rem;
                line-height: 1.3;
            }
        }
    }
}

#blog {
    padding: 100px 0;
    border-radius: $siteRadius;
    .sectionTitle {
        position: sticky;
        top: 140px;
        text-align: start;
    }
}
.blogList {
    article {
        top: 140px;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid black;
        border-radius: $siteRadius;
        box-shadow: 3px 3px 0px 0 $themeColor;
        background-color: #fffacd;
        &:hover {
            .text {
                .title {
                    background-size: 100% 5%;
                }
            }
        }
        .wrapper {
            border-radius: $siteRadius;
            position: relative;
            align-items: center;
        }
        .img {
            transition: all 0.3s ease;
            display: block;
            border-radius: $siteRadius;
            box-shadow: 4px 4px 0px 0px $themeColor;
            .inner {
                position: relative;
                overflow: hidden;
                padding-bottom: 140%;
                border-radius: $siteRadius;
                img {
                    display: block;
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                    object-position: center center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .text {
            display: block;
            padding: 20px;
            .labels {
                margin: 0 0 30px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 0.9rem;
                .category {
                    display: inline-block;
                    background-color: #1dd7c2;
                    padding: 6px 15px;
                    font-size: 0.8rem;
                    color: white;
                    border-radius: 20px;
                    border: 1px solid rgba(39, 39, 39, 0.75);
                    box-shadow: 2px 2px 0px 0px $themeColor;
                    svg {
                        stroke: rgba(0, 0, 0, 0.4);
                        fill: #fff;
                        width: 11px;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 5px 0 0;
                    }
                }
                .date {
                    display: block;
                    margin: 0 20px;
                }
                .read {
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        background: #1dd7c2;
                        vertical-align: middle;
                        margin-right: 15px;
                        border-radius: 100%;
                        margin-top: -2px;
                    }
                }
            }
            .title {
                display: inline;
                font-size: 2rem;
                background-image: linear-gradient(to right, #333 0%, #333 100%);
                background-size: 0% 5%;
                background-repeat: no-repeat;
                background-position: left 90%;
                transition: all 400ms ease;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 2;
                box-orient: vertical;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .desc {
                display: block;
                margin: 20px 0 30px 0;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-clamp: 3;
                box-orient: vertical;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}
footer {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 14px;
}
@keyframes translateX {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1000px);
    }
}
@keyframes translateXReverse {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-1000px);
    }
}
#connectBoxWrapper {
    padding: 20vh 0;
    position: relative;
    .box {
        position: relative;
        border-radius: 70px;
        background: #f9f9f9;
        padding: 10px 10px;
        font-size: 1.4rem;
        margin: 20px 0;
        overflow: hidden;
        display: block;
        transition: all 0.1s ease;
        &:nth-child(odd) {
            //background-color: $themeColor;
            //color: white;
            .boxInner {
                position: relative;
                width: -webkit-max-content;
                float: left;

                .img {
                    width: 200px;
                }
            }
        }
        &:hover {
            background-color: $themeColor2;
            color: $themeColor;
            .boxInner {
                animation: translateX 9s infinite linear;
            }

            &:nth-child(odd) {
                .boxInner {
                    animation: translateXReverse 9s infinite linear;
                }
            }
        }
        .boxInner {
            display: flex;
            width: -webkit-max-content;
            float: right;
            align-items: center;
            .title {
                display: inline-block;
                word-break: keep-all;
                margin: 0 20px;
                min-width: 160px;
                text-align: center;
            }
            .img {
                display: inline-block;
                height: 50px;
                border-radius: 50px;
                position: relative;
                overflow: hidden;
                vertical-align: middle;
                width: 250px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
}

.appPage {
    margin: 150px 0 0 0;
}

.blogDetail {
    .sectionTitleSm{
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(39, 39, 39, 0.75);
        border-radius: 20px;
        padding: 1rem;
    }
    .wrapContent {
        background-color: rgb(255, 250, 205);
        border: 1px solid rgba(39, 39, 39, 0.75);
        border-radius: $siteRadius;
        padding: 2rem;
    }
    .blogRight{
        position: sticky;
        top: 120px;
    }
    .labels {
        margin: 0 0 30px 0;
        display: flex;
        font-size: 0.9rem;
        .category {
            display: inline-block;
            background-color: #1dd7c2;
            padding: 6px 15px;
            font-size: 0.8rem;
            color: white;
            border-radius: 20px;
            border: 1px solid rgba(39, 39, 39, 0.75);
            box-shadow: 2px 2px 0px 0px $themeColor;
            svg {
                stroke: rgba(0, 0, 0, 0.4);
                fill: #fff;
                width: 11px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px 0 0;
            }
        }
        .date {
            display: block;
            margin: 0 20px;
        }
        .read {
            &:before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #1dd7c2;
                vertical-align: middle;
                margin-right: 15px;
                border-radius: 100%;
                margin-top: -2px;
            }
        }
    }
    .img {
        display: block;
        border-radius: $siteRadius;
        position: relative;
        overflow: hidden;
        padding-bottom: 50%;
        box-shadow: 4px 4px 0px 0px #212529;
        margin-bottom: 30px;
        img {
            display: block;
            position: absolute;
            inset: 0;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }
    }
    .siteDesc {
        font-size: 0.9rem;
        margin: 40px 0 0 0;
    }
    .labelList{
        .label{
            display: inline-block;
            background-color: #1dd7c2;
            padding: 6px 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 0.8rem;
            color: white;
            border-radius: 20px;
            border: 1px solid rgba(39, 39, 39, 0.75);
            box-shadow: 2px 2px 0px 0px $themeColor;
            svg {
                stroke: rgba(0, 0, 0, 0.4);
                fill: #fff;
                width: 11px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px 0 0;
            }
        }
    }
}

/* custom css end */
